@import "../index.scss";

.button {
    display: inline-block;
    border: 2px solid $main-color;
    border-radius: 27px;
    padding: 18px 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        background-color: $main-color;
        color: $bg-color-light;
    }
}

.green-button {
    border: none;
    background-color: $dark-green;
    color: white;

    &:hover {
        background-color: $green;
        color: white;
    }
}

.white-button {
    border: none;
    background-color: white;
    color: black;

    &:hover {
        background-color: white;
        color: black;
    }
}

.transparent-button {
    border: none;
    background-color: transparent;
    color: white;

    &:hover {
        background-color: transparent;
        color: white;
    }
}
