@import "../index.scss";

.login-header {
    background-color: $bg-color-dark;
    justify-content: flex-end;

    .button {
        padding: 8px 34px;
        font-size: 12px;
        line-height: 18px;
        font-weight: 700;
    }
}
