@import "../colors.scss";

.navbar {
    width: 232px;
    background: black;
    padding: 24px 0 0;
    color: $main-color;
}

.navbar__logo {
    margin-bottom: 28px;

    svg {
        height: 40px;
        max-width: 180px;

        color: white;
    }
}

.navbar__list {
    padding: 16px 0;

    li {
        height: 40px;
        padding: 0 8px;
        display: flex;

        a {
            display: flex;
            align-items: center;

            text-align: left;
            font-weight: 700;

            transition: 0.3s;

            &:hover {
                color: white;
            }

            svg {
                margin-right: 16px;
            }
        }
    }
}

.navbar__main-list {
    padding: 16px 8px;

    li {
        padding: 0 16px;

        &:hover {
            background-color: $bg-color-light-28;
            color: white;
            border-radius: 6px;
        }
    }
}

.navbar__playlists {
    padding: 0 24px;

    h1 {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }

    .navbar__playlists-list__big {
        border-bottom: 1px solid $bg-color-light-28;
    }

    .navbar__list li {
        padding: 0;

        a {
            svg {
                width: 32px;
                height: 32px;
                padding: 4px;
                background-color: $main-color;
            }

            &:hover {
                color: white;

                svg {
                    background-color: white;
                }
            }
        }
    }
}
