.navbar {
    width: 212px;
    padding: 24px 16px 0;
    background: #000;

    color: #b3b3b3;
}

.navbar__nav-list {
    font-weight: 600;
}

.navbar__nav-list li {
    padding: 10px 0;
}

/* .navbar__logo {
    width: 40px;
    height: 40px;
    background: url('../../icons/test.svg')
} */