$main-color: #b3b3b3;

.navbar {
    width: 232px;
    padding: 24px 0 0;
    background: #000;

    color: $main-color;
}


.navbar__logo {
    display: block;
    padding: 0 24px;
    margin-bottom: 28px;

    svg {
        height: 40px;
        max-width: 180px;
    
        color: #fff;
    }
}


.navbar__list {
    li {
        height: 40px;
        padding: 0 8px;

        a, button {
            display: flex;
            align-items: center;

            text-align: left;
            font-weight: 700;

            padding: 0 16px;
            transition: 0.3s;

            &:hover {
                color: #fff;
            }

            svg {
                margin-right: 16px;
            }
        }
    }
}


.navbar__playlists {
    padding: 0 24px;

    h1 {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }

    button {
        border: none;
    }

    .navbar__list li {
        padding: 0;

        a, button {
            padding: 0;

            svg {
                width: 32px;
                height: 32px;
                padding: 4px;
                background-color: $main-color ;
            }

            &:hover {
                color: #fff;

                svg {
                    background-color: #fff ;
                }
            }
        }
    }

}
