@import "./colors.scss";

body {
    margin: 0;
    padding: 0;

    font-family: "Helvetica Neue", "helvetica", "arial", "Hiragino Kaku Gothic Pro",
        "Meiryo", "MS Gothic", sans-serif;
    color: $main-color;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a,
p {
    font-size: 14px;
    text-decoration: none;
    color: inherit;
}

button {
    background-color: transparent;
    border: none;

    font-size: 14px;
    text-decoration: none;
    color: inherit;

    &:focus {
        outline: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

input {
    font-size: 16px;
    line-height: 1.5;
    background-color: $bg-color-dark;
    padding: 6px 12px;
    caret-color: $main-color;
    color: $main-color;
    border: 1px solid $main-color;

    &:focus {
        outline: none;
    }
}

label {
    display: inline-block;
}
